body {
background-color: rgb(192, 192, 192);
text-align: center;
font-size: 50px;
text-decoration: none;


}

.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#result {
    
}